.books {
  margin: 20px;
}

.menu {
  padding: 20px;
  border-bottom: 1px dashed lightgray;
  margin-bottom: 20px;
}

.indicator {
  height: 32px;
  color: blue;
  font-size: 26px;
}

.btn {
  margin: 2px;
}
