<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="home()" routerLinkActive="active">
      <span *appRepeat="3">- </span>
      {{ 'books' | capitalize:1 }}
      <span *appRepeat="3">- </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="books/dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="books/list" routerLinkActive="active">Books list</a>
  </li>
  <li>
    <select class="form-control" (change)="setLanguage($event.target.value)">
      <option value="en">En</option>
      <option value="pl">Pl</option>
    </select>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
