<form #bookForm="ngForm" class="form-book" novalidate="true" (ngSubmit)="saveBook(bookForm)">
  <h4 class="text-center">Book</h4>
  <div class="form-group">
    <label for="title">Title:</label>
    <input #title="ngModel" id="title" class="form-control" placeholder="Enter title" name="title"
           [(ngModel)]="book.title" required minlength="3" [disabled]="!isEnabled">
    <app-errors [input]="title"></app-errors>
  </div>
  <div class="form-group">
    <label for="authors">Authors:</label>
    <input id="authors" class="form-control" placeholder="Enter authors" name="authors" [(ngModel)]="book.authors" [disabled]="!isEnabled">
  </div>
  <div class="form-group">
    <label>Genre:</label>
    <select name="genre" class="form-control" [(ngModel)]="book.genre" [disabled]="!isEnabled">
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Rating:</label>
    <span class="form-check form-check-inline intend" *ngFor="let value of ratings">
      <input class="form-check-input" type="radio" name="rating" [value]="value" [(ngModel)]="book.rating">
      <label class="form-check-label">{{ value }}</label>
    </span>
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input id="category" class="intend" type="color" name="category" [(ngModel)]="book.category" [disabled]="!isEnabled">
  </div>
  <div class="form-group">
    <input id="bestseller" type="checkbox" name="bestseller" [(ngModel)]="book.bestseller" [disabled]="!isEnabled">
    <label for="bestseller" class="intend">Bestseller</label>
  </div>
  <div *ngIf="isEnabled">
    <button type="button" class="btn btn-danger" (click)="cancel.emit()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Save</button>
  </div>
</form>
